@page "/vane"

     @*<img src="/Images/normal_logo-web.png"  alt="Tabler" class="navbar-brand-image me-2" >*@
     <br/>
   <h4>Hill Villa Hotel HRM</h4> 
   <br/>
   <br/>
   <br/>


 
    <SurveyPrompt Title="about" />
    <br/>
    <p style="text-align:justify;" > Lorem ipsum dolor sit amet, consectetur adipiscing elit.Curabitur tempus tellus a eros commodo gravida. <br/>Nulla in dui elit. Nunc nec mollis augue, ac pretium felis. Fusce facilisis erat et neque aliquam, eget fringilla eros dictum. Etiam porttitor enim ac nulla euismod tempus. Vivamus sit amet ultricies sapien. Suspendisse at tortor vel eros sollicitudin euismod tincidunt eu metus. Nunc id ultricies est, at lobortis enim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nunc tortor, sagittis quis ligula ac, tempus fermentum dui. In ut nisl lacus. Quisque in quam aliquet, dictum elit quis, pulvinar lorem.

Pellentesque eget nulla id metus blandit elementum. Sed sollicitudin dignissim odio, eu ornare nisi tempus eu. Praesent tempus tristique finibus. <br/>Vivamus aliquet semper efficitur. Cras sit amet mi nec libero porta suscipit. Mauris quam diam, placerat sed sodales eu, cursus ac lorem. Phasellus felis tortor, imperdiet in maximus eu, congue in nibh. Sed convallis commodo metus ac mollis. Fusce tincidunt at lectus ac elementum. Vivamus accumsan ligula eu tincidunt finibus. Proin diam neque, vestibulum et justo vitae, efficitur ullamcorper quam. Quisque a orci nec metus semper dignissim nec ut diam. Suspendisse congue mollis accumsan. Quisque elementum dictum purus vitae sagittis. Duis posuere libero purus. Nulla mollis pharetra odio.

Nulla facilisi. Nulla sodales ullamcorper blandit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.<br/>Morbi iaculis nunc nibh, vel tincidunt odio suscipit vitae. Curabitur sem magna, tincidunt in posuere dignissim, tempor id leo. Vivamus id facilisis velit. Pellentesque vel rutrum nulla. Curabitur fringilla ex sit amet eros laoreet, sed condimentum urna malesuada. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean sed sodales odio, vel imperdiet arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

Suspendisse in pellentesque est, et malesuada tellus. Cras fermentum, lectus eu lobortis pretium, magna urna tincidunt ante, in congue nulla mi vel metus.<br/> Cras sodales lorem massa, ut elementum mauris ornare sit amet. Sed sagittis magna et tortor rutrum, ut tempor metus vehicula. Sed commodo leo nunc, nec pharetra mauris rhoncus a. Mauris nunc purus, eleifend eget condimentum mollis, mollis non lectus. Praesent vel risus rutrum, molestie nisi nec, tincidunt urna. Nam suscipit urna feugiat pulvinar feugiat. Aenean augue erat, rhoncus ultricies ex et, scelerisque venenatis justo. Vestibulum ultrices neque eu magna scelerisque cursus.

Integer tincidunt magna non libero pretium, ut tempus velit commodo. Suspendisse fringilla et felis in elementum. Duis eget pulvinar turpis, in dapibus ligula. Nunc et quam dictum, egestas erat eu, pharetra justo. Nullam gravida imperdiet faucibus. Nam laoreet metus erat, et pulvinar lorem maximus a. Donec tempor, libero in congue luctus, elit metus venenatis sapien, euismod iaculis velit justo sit amet neque. Donec dapibus erat nec sem euismod, a tempus sem fringilla. Nullam tempus libero et volutpat lobortis. Donec risus justo, ultricies nec lacus vitae, pretium rhoncus ipsum. Phasellus dictum dictum posuere. Ut scelerisque malesuada convallis.
</p>

  
