@page "/"
@layout LoginLayout
@inject NavigationManager NavigationManager


@*<AuthorizeView>
    <NotAuthorized>
        <div class="row p-0 m-0">
    <div >
         <img src="/Images/abstract-blur-defocused-breakfast-buffet-hotel-restaurant-coffee-shop-cafe-interior.jpg" class="img-fluid" alt="Responsive image"/>
    </div>
   
    <div class=top-left1>
        <NavLink href="login" class="btn btn-success btn-lg btn-block"> Login</NavLink>
               
            </div>
</div>

    </NotAuthorized>
</AuthorizeView>*@

@*<AuthorizeView>
    <NotAuthorized>
<MudContainer MaxWidth="MaxWidth.Small" Class="d-flex align-center" Style="height: 100vh;">
    <div class="d-flex flex-column mud-width-full">
        <MudPaper Elevation="25" Class="pa-8" Width="100%" MaxWidth="500px">
            <MudImage Fluid="true" Src="/Images/abstract-blur-defocused-breakfast-buffet-hotel-restaurant-coffee-shop-cafe-interior.jpg" Alt="Swedish Farm House" Class="rounded-lg"/>
         <MudButton Link="login"
          class="align-center"
           Variant="Variant.Filled"
           EndIcon="@Icons.Custom.Brands.GitHub"
           Color="Color.Primary"
          >
    Login
</MudButton>
          
        </MudPaper>
        <MudAlert Severity="Severity.Info" Class="mt-8 mud-width-full" Style="max-width:500px;" Elevation="25"> Authentication is required, click sign in.</MudAlert>
    </div>
</MudContainer>
  </NotAuthorized>
</AuthorizeView>
*@





@code {
    private bool isProcessingStart = false;
}
