@using MudBlazor
@using System.Security.Claims
@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider

 <MudThemeProvider/>
 <MudDialogProvider/>
 <MudSnackbarProvider/>

<PageTitle>LaVillaAdmin</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        
       <MudLayout>
           
           <MudAppBar Color="MudBlazor.Color.Info" Fixed="false"  Elevation="250">
               <div  >
                 <a class ="nav-link text-dark" id="titlebar" href="">

                         <img src="/Images//lavill.jpg"  alt="Tabler" class="navbar-brand-image me-2 imagelaVille"  width="100" height="50" >
                 </a>
                   @*<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                       <span class="navbar-toggler-icon"></span>
                   </button>*@

             </div>
               
              
               <MudSpacer />
               @*<LoginDisplay></LoginDisplay>*@
               <a class="nav-link text-dark" id="register" href="/Identity/Account/Register">Register</a>
               <AuthorizeView>
                   <Authorized>
                       
                      
                       <a class="nav-link alert-dark id="login" href="logout">Log out</a>
                      <h3>@UserName</h3>
                   </Authorized>
               </AuthorizeView>
               



               @*<MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" />*@
                @*<div class="top-row px-4">
            <LoginDisplay /> 
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            
        </div>*@
            </MudAppBar>
     
           @*<MudDrawer @bind-Open="@_drawerOpen">
               <MyNavMenu/>
           </MudDrawer>*@
           <MudMainContent>
               <MudContainer MaxWidth="MaxWidth.Large">
                    @Body
               </MudContainer>
               
           </MudMainContent>
       </MudLayout>
       @* <article class="content px-4">
           
        </article>*@
    </main>
</div>


@code{
    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private string _authMessage;
    private string _surnameMessage;
    private IEnumerable<Claim> _claims = Enumerable.Empty<Claim>();

    public string UserName;

    protected override async Task OnInitializedAsync()
    {
        UserName = httpContextAccessor.HttpContext.User.Identity.Name;
    }

    private async Task GetClaimsPrincipal()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            _authMessage = user.Identity.Name;
            _claims = user.Claims;
            _surnameMessage = 
                $"Surname: {user.FindFirst(c => c.Type == ClaimTypes.Surname)?.Value}";
        }
        else
        {
            _authMessage = "The user is NOT authenticated.";
        }
    }
    

    

}
